.button {
  width: 10rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.button:hover {
  border: 1px solid white;
  background: #3b5998;
  color: white;
}

.badges {
  background: skyblue;
  width: 2rem;
  border-radius: 10rem;
  background: white;
  color: #3b5998;
}
