.products {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
}

.products > h2 {
  text-align: center;
  color: rgb(25, 130, 172);
  margin-bottom: 2rem;
}

@media screen and (max-width: 375px) {
  .products {
    margin: 1rem 3rem;
  }
  h2 {
    display: none;
  }
}
