.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  font-size: 1rem;
  font-weight: bold;
  background: #3b5998;
  color: white;
  width: 100%;
}

.header button {
  color: white;
  border: 1px solid white;
}

@media screen and (max-width: 375px) {
  .header {
    width: 100%;
  }
}
