html {
  width: 100%;
}

.loader {
  width: 200px;
  height: 200px;
  border: 1rem solid white;
  border-top: 1rem solid #3b5998;
  border-bottom: 1rem solid #3b5998;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 10rem auto;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
